<!DOCTYPE html>
<!-- saved from url=(0043)http://getbootstrap.com/examples/dashboard/ -->
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">      
    <title>My Course</title>

    <!-- Bootstrap core CSS -->
    <link href="/public/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/public/css/dashboard.css" rel="stylesheet">

    <!-- jQuery UI CSS -->
    <link rel="stylesheet" href="/public/css/jquery-ui.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/index.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
    <style id="holderjs-style" type="text/css"></style></head>

  <body>
    <% include header %>
    <div class="container-thin">
      <br>
      <div>
        <h3><small>STEP1 第一步</small></h3>
        <h2 class="h2-margin"><span class="label label-danger">職務</span> 建立職務名稱</h2>
        <form role="form">        
          <input class="form-control" id="occupation_name" type="text" placeholder="請輸入名稱">
        </form>        
      </div>
      <div>
        <h3><small>STEP2 第二步</small></h3>
        <h2 class="h2-margin"><span class="label label-danger">標籤</span> 選擇職務分類</h2>
        <div class="job-tag">
          <button type="button" class="btn btn-default btn-bottom">電腦硬體</button>
          <button type="button" class="btn btn-default btn-bottom">硬體工程師</button>
          <button type="button" class="btn btn-default btn-bottom">軟體工程師</button>
          <button type="button" class="btn btn-default btn-bottom">韌體工程師</button>
          <button type="button" class="btn btn-default btn-bottom">演算法工程師</button>
          <button type="button" class="btn btn-default btn-bottom">BIOS工程師</button>
          <button type="button" class="btn btn-default btn-bottom">電玩程式工程師</button>
          <button type="button" class="btn btn-default btn-bottom">網站工程師</button>
          <button type="button" class="btn btn-default btn-bottom">系統工程師</button>
          <button type="button" class="btn btn-default btn-bottom">資料庫工程師</button>
          <button type="button" class="btn btn-default btn-bottom">電子商務系統工程師</button>
          <button type="button" class="btn btn-default btn-bottom">MIS工程師</button>
          <button type="button" class="btn btn-default btn-bottom">資安工程師</button>
          <button type="button" class="btn btn-default btn-bottom">APP工程師</button>
          <button type="button" class="btn btn-default btn-bottom">多媒體程式工程師</button>
        </div>      
      </div>
      <div>
        <h3><small>STEP3 第三步</small></h3>
        <h2 class="h2-margin">
          <span class="label label-danger">項目</span> 建立工作項目、內容
        </h2>
        <button type="button" id ="add" class="btn btn-default pull-right btn-bottom">新增項目</button>
        <div class="task-list">
          <div>
            <input class="form-control" id="occupation_name" type="text" placeholder="請輸入工作項目">
            <textarea class="form-control textarea-bottom" rows="5" placeholder="工作內容"></textarea>
          </div>
        </div>
        <button type="button" id="remove" class="btn btn-default pull-right">刪除</button>
      </div>
      <div>
        <h3><small>STEP4 第四步</small></h3>
        <h2 class="h2-margin">
          <span class="label label-danger">課程</span> 選擇相關課程
        </h2>
        <p class= "text-center">
          <a class="btn btn-lg btn-warning" href="/" role="button">按此進入</a>                
        </p>        
      </div>
    </div>
         

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/public/js/jquery.min.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
    <script src="/public/js/docs.min.js"></script>
    <!-- jQuery UI Javascript -->
    <script src="/public/js/jquery-ui.min.js"></script>
    <script src="/public/js/index.js"></script>
  

</body></html>