<!DOCTYPE html>
<!-- saved from url=(0043)http://getbootstrap.com/examples/dashboard/ -->
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">    
    <title>My Course</title>

    <!-- Bootstrap core CSS -->
    <link href="./public/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./public/css/dashboard.css" rel="stylesheet">

    <!-- jQuery UI CSS -->
    <link rel="stylesheet" href="./public/css/jquery-ui.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  <link href='https://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
  <style id="holderjs-style" type="text/css"></style></head>

  <body>
    <% include header %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2">
          <ul class="nav nav-pills nav-stacked nav-margin-top nav-background">
            <li class="active"><a href="">Occupation</a></li>
            <li ><a href="">Task1</a></li>
            <li ><a href="">Task2</a></li>
            <li ><a href="">Task3</a></li>
          </ul>          
        </div>
        <div class="col-md-10 main">
          <h1 class="page-header">Task Name</h1>
          <div class="row">            
            <div class="col-md-4 placeholder">
              <h2>DESCRIPTION</h2>              
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>             
            </div>
            <div class="col-md-8 placeholder">
              <h2>REQUIRED COURSES</h2>
              <div class="course-box">                
                <ul class="pre-scrollable connected selected">
                  <li>1</li>       
                  <li>2</li>
                </ul>
              </div>
            </div>          
          </div>          
        </div>
      </div>
    </div>

    <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked nav-margin-top nav-background">
                <li class="active"><a href="">課程分類</a></li>
                <li><a href="">軟體</a></li>
                <li><a href="">系統</a></li>
                <li><a href="">理論</a></li>
                <li><a href="">網路</a></li>
                <li><a href="">多媒體</a></li>
                <li><a href="">資料管理</a></li>
                <li><a href="">智慧系統</a></li>
                <li><a href="">生醫資訊</a></li>
                <li><a href="">其他</a></li>
            </ul>         
      </div>
      <div class="col-md-10 main">
        <h2 class="sub-header">Primitive Name
              <div class="btn-group pull-right">            
                  <div class="btn-group">            
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                       Source <span class="caret"></span>
                    </button>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">NTU</a></li>
                        <li><a href="#">NTUST</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Cousera</a></li>
                        <li><a href="#">Udacity</a></li>
                      </ul> 
                  </div>
                  <button type="button" class="btn btn-primary">Basic</button>
                  <button type="button" class="btn btn-success">Core</button>
                  <button type="button" class="btn btn-warning">Advance</button>
              </div>
            </h2>
              <div class="table-responsive pre-scrollable">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Syllable</th>
                    <th>Department</th>
                    <th>Evaluation</th>
                    <th>Others</th>
                  </tr>
                </thead>
                <tbody class="connected">
                  <tr>
                    <td>1,001</td>
                    <td>Lorem</td>
                    <td>ipsum</td>
                    <td>dolor</td>
                    <td>sit</td>
                  </tr>
                  <tr>
                    <td>1,002</td>
                    <td>amet</td>
                    <td>consectetur</td>
                    <td>adipiscing</td>
                    <td>elit</td>
                  </tr>
                  <tr>
                    <td>1,003</td>
                    <td>Integer</td>
                    <td>nec</td>
                    <td>odio</td>
                    <td>Praesent</td>
                  </tr>
                  <tr>
                    <td>1,003</td>
                    <td>libero</td>
                    <td>Sed</td>
                    <td>cursus</td>
                    <td>ante</td>
                  </tr>
                  <tr>
                    <td>1,004</td>
                    <td>dapibus</td>
                    <td>diam</td>
                    <td>Sed</td>
                    <td>nisi</td>
                  </tr>
                  <tr>
                    <td>1,005</td>
                    <td>Nulla</td>
                    <td>quis</td>
                    <td>sem</td>
                    <td>at</td>
                  </tr>
                  <tr>
                    <td>1,006</td>
                    <td>nibh</td>
                    <td>elementum</td>
                    <td>imperdiet</td>
                    <td>Duis</td>
                  </tr>
                  <tr>
                    <td>1,007</td>
                    <td>sagittis</td>
                    <td>ipsum</td>
                    <td>Praesent</td>
                    <td>mauris</td>
                  </tr>
                  <tr>
                    <td>1,008</td>
                    <td>Fusce</td>
                    <td>nec</td>
                    <td>tellus</td>
                    <td>sed</td>
                  </tr>
                  <tr>
                    <td>1,009</td>
                    <td>augue</td>
                    <td>semper</td>
                    <td>porta</td>
                    <td>Mauris</td>
                  </tr>
                  <tr>
                    <td>1,010</td>
                    <td>massa</td>
                    <td>Vestibulum</td>
                    <td>lacinia</td>
                    <td>arcu</td>
                  </tr>
                  <tr>
                    <td>1,011</td>
                    <td>eget</td>
                    <td>nulla</td>
                    <td>Class</td>
                    <td>aptent</td>
                  </tr>
                  <tr>
                    <td>1,012</td>
                    <td>taciti</td>
                    <td>sociosqu</td>
                    <td>ad</td>
                    <td>litora</td>
                  </tr>
                  <tr>
                    <td>1,013</td>
                    <td>torquent</td>
                    <td>per</td>
                    <td>conubia</td>
                    <td>nostra</td>
                  </tr>
                  <tr>
                    <td>1,014</td>
                    <td>per</td>
                    <td>inceptos</td>
                    <td>himenaeos</td>
                    <td>Curabitur</td>
                  </tr>
                  <tr>
                    <td>1,015</td>
                    <td>sodales</td>
                    <td>ligula</td>
                    <td>in</td>
                    <td>libero</td>
                  </tr>
                </tbody>
              </table>
            </div>
      </div>
    </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="./public/js/jquery.min.js"></script>
    <script src="./public/js/bootstrap.min.js"></script>
    <script src="./public/js/docs.min.js"></script>
    <!-- jQuery UI Javascript -->
    <script src="./public/js/jquery-ui.min.js"></script>
    <script src="./public/js/index.js"></script>
  

</body></html>